.OqVTf9tpFQvDVKFCkVR3 {
    display: flex;
    justify-content: center;
    color: white;
}

.IPJ7J8W_0HRIpGdIpWwI {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

.nJbKLbN0WyPJ9HFrwaH9 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
    background-color: black;
}

@media only screen and (max-width: 1000px) {
    .nJbKLbN0WyPJ9HFrwaH9 {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 500%;
        z-index: -1;
        background-color: black;
    }
  }

.cYxhc8FOzrZaI2NizTM4 {
    font-size: 55px;
    padding: 0px;
}
.DWmgxW9bffTFpCBBlTM0 {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.toY8RtZOvaqG5BjHudsk {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
}

.H61qnkjuinYlTMdPA33y {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    color: black;
    min-width: 200px;
}

.qQooMqrmHxLBmf4gUwlv {
    animation: slnc5gtgFsnlx9UDjcKA 8s infinite linear;
  }

  @keyframes slnc5gtgFsnlx9UDjcKA {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
